node_modules/

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
package-lock.json

### env ###
.env.development
.env.production

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
bin/

### VS Code ###
.vscode/

### temp db classpath ###
/.temp-*-classpath-arg-*.txt
*.log
.DS_Store
.metadata/
/frontend/package-lock.json
